body{background-image: url("bg image.jpg" );
    height: max-content;
    width: max-content;
}
#navbar{
display: flex;
align-items: center;    
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
}

#navbar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar li a:hover{
    color: black;
    background-color: white;
}
h1{
    
    color: azure;
    font-size: 3rem;
    margin-left: 8em;
}
p{
    color: azure;
    font-size: 2rem;
    margin: 5rem 5em;
}
#c{color: rgb(203, 201, 199);
font-size: 3rem;
margin:5rem 13em ;

}
p1{
    color: azure;
font-size:2rem;
margin: 5rem 3em;
}
.form{
    margin: 25px 600px;
    padding:25px ;

}
.form details{
    padding:5px 10px;
    text-align: center;
    margin:10px;
    background-color: white;
    font-size: 15px;
    justify-content: center;
}
.form button{
    margin:10px 50px;
    padding: 3px 10px;
    font-size: 15px;


}
.form div{
    margin: 10px 25px;
}
.form button:hover{
    background-color: black;
    color: white;
}

